<div class="panel panel-primary">
    <div class="panel-heading"><i class="fas fa-home"></i> {{ title }}</div>
    <div class="panel-body">
        <p>{{ drupal_token('site:name') }} - {{ owner }}</p>
        <p><span class="glyphicon glyphicon-map-marker"></span> {{ address1 }} </p>
        <p>{{ address2 }}</p>
        <p><span class="glyphicon glyphicon-earphone"></span> {{ phone }}</p>
        <p><span class="glyphicon glyphicon-envelope"></span> {{ drupal_token('site:mail') }}</p>
    </div>
</div>