<div>
    Copyright <i class="far fa-copyright"></i> {{ year }} {{ sitename }} - {{ owner }}. All Rights Reserved.
    <div class="site-details">
        <a href="{{ path('entity.node.canonical', {'node': terms.id}) }}">{{ terms.title.value }}</a> | <a
                href="{{ path('entity.node.canonical', {'node': privacy.id}) }}">{{ privacy.title.value }}</a> | <a href="/user">{{ admin }}</a>
    </div>
</div>